p {
        color: darkblue;
    }
    body{
        background-color: lightblue;
    }
    h2 {
        font-size:  5ex;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th {
        background-color: gray;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    
    }
    form {
        display:  flex;
        flex-direction: column;
        width: 20%;
        gap: 1px;
    }
    label {
        font-weight: bold;
    }
    input[type="text"], input[type="email"] {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    input[type="submit"] {
        background-color: grey;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
         div {
      padding: 20px;
      margin: 10px;
    }